<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="nap-live">
  
  <style>

  </style>

  <template>
  <div>
    <div class="heading">Be Inspired</div>
    <div class="user-sessions">
      <nap-live-sessions></nap-live-sessions><span>Shoppers online</span>
    </div>
    <div>Net-a-porter live</div>
    <div>What the world's most stylish women are buying now</div>
    <nap-live-products class="row center-lg"></nap-live-products>
  </div>
  </template>

  <script>
  	Polymer({
  		is: 'nap-live'
  	});
  </script>

</dom-module>