<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="nap-live-sessions">
  
  <style>

  </style>

  <template>
      <iron-ajax id="getSessions"
      auto
      url="/webapi/feed/sessioncount/NAP.json"
      handle-as="json"
      last-response="{{response}}"
      last-error="{{error}}"
      on-response="_refresh"
      >
      </iron-ajax>
    <div class="user-count">
        <span id="session-count">{{response.sessioncount}}</span>
    </div>
  </template>

  <script>
  	Polymer({
  		is: 'nap-live-sessions',
  		properties:{
  			sessions: String
  		},
      _refresh: function() {
        this.async(function() {
          this.$.getSessions.generateRequest();
        },60000)
      },
  	});


  </script>

</dom-module>