<link rel="import" href="../bower_components/polymer/polymer.html">
<!--
The `nap-product` element represents a single product summary, as seen on, 
for example, listing pages.

    <nap-product product$={{product}}></nap-product>

The product data passed to it is expected to match the schema of a product as 
defined by the LAD API.

@demo demo/index.html
-->
<dom-module id="nap-product">
  
  <style>
    :host {
      display: block;
      box-sizing: border-box;
      padding: 0 10px !important;
      font-family: GillSans;
      font-size: 14px;
      margin-bottom: 40px;
    }
    .image {
      width: 100%;
    }
    .image:active {
      filter: brightness(90%);
      -webkit-filter: brightness(90%);
      -moz-filter: brightness(90%);
      -o-filter: brightness(90%);
      -ms-filter: brightness(90%);
    }
    .designer {
      text-transform: uppercase;
      margin-top: 20px;
    }
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;     /* fallback */
      height: 36px;          /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin: 10px 0;
    }
    .onSale .full-price {
      text-decoration: line-through;
    }
    .sale-price, .discount {
      color: #F00;
      padding-left: 5px;
    }
  </style>

  <template>
    <a href={{_productUrl(product.id)}}>  
      <img id="image" 
           class="image" 
           src={{_imgUrl(product.id)}}
           on-mouseover="_hoverShot"
           on-mouseout="_indexShot"/>
      <div class="designer">{{product.brand.name}}</div>
      <div class="name">{{product.name}}</div>
      <div class="price">
        <span class="full-price">{{_generatePrice(product.price, product.onSale)}}</span>
        <template is="dom-if" if="{{product.onSale}}">
          <span class="sale-price">{{_generatePrice(product.price)}}</span>
          <span class="discount">{{_discount(product.price)}}</span>
        </template>
      </div>
    </a>
  </template>

  <script>
  	Polymer({
  		is: 'nap-product',
  		properties:{
  			product: Object, // Should match the same schema as LAD provides.
        copy: {
          type: Object,
          value: {
            en:{
              off: "OFF"
            },
            fr:{
              off: "OFF"
            },
            de:{
              off: "OFF"
            },
            zh:{
              off: "OFF"
            }
          }
        }
  		},
      ready: function() {
        if(this.product.onSale) {
          typeof this.querySelector('.price').classList.add('onSale');
        }
      },
  		_imgUrl: function(pid) {
  			return '//cache.net-a-porter.com/images/products/'+pid+'/'+pid+'_in_l.jpg'
  		},
      _productUrl: function(pid) {
        return '/' + NAP.locale.country.toLowerCase() + '/' + NAP.locale.language + '/product/'+pid;
      },
      _generatePrice: function(price, isOnSale) {
        if(isOnSale) {
          return this._formatPrice(price.original.gross, price.divisor);
        } else {
          return this._formatPrice(price.gross, price.divisor);
        }
      },
      _formatPrice: function(amount, divisor) {
        return priceString = NAP.locale.currencySymbol + (Math.ceil(amount / divisor)).toString().replace(/\d(?=(\d{3})+$)/g, '$&,');
      },
      _discount: function(price) {
        return price.discountPercent + '% ' + this.copy[NAP.locale.language].off;
      },
      _indexShot: function() {
        this.$.image.src = this.$.image.src.replace(/ou_(.*)\.jpg/, 'in_$1.jpg');
      },
      _hoverShot: function() {
        this.$.image.src = this.$.image.src.replace(/in_(.*)\.jpg/, 'ou_$1.jpg');
      }
  	});
  </script>

</dom-module>