<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="nap-product-upsell">
  
  <style>
    
  </style>

  <template>
    <iron-ajax
      auto
      url="http://www.net-a-porter.com/lad/product/summaries/data"
      params="{{_generateParams(pids, limit)}}"
      handle-as="json"
      last-response="{{productData}}"></iron-ajax>
      <template is="dom-repeat" items="{{productData}}">
        <nap-product product$="{{item}}"></nap-product>
      </template>
  </template>

  <script>
    Polymer({
      is: 'nap-product-upsell',
      properties:{
        pids: Array,
        limit: {
          type: Number,
          value: 60 // Default
        }
      },
      _generateParams: function(pids, limit) {
        return {
          business: 'NAP',
          country: NAP.locale.country,
          lang: NAP.locale.language,
          limit: limit,
          offset: 0,
          pids: pids
        };
      }
    });
  </script>

</dom-module>
