<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="nap-ymal-module">

  <style>
    :host {
      display: block;
    }
    .heading {
      text-transform: uppercase;
      text-align: center;
      padding: 40px 0;
      margin-top: 40px;
      border-top: 1px solid #ccc;
    }

    nap-product-upsell {
      margin: 0 10px;
    }

    @media all and (min-width: 481px) {
      nap-product-upsell {
        width: 82%;
        margin: 0 auto;
      }
    }
    @media all and (min-width: 951px) {
      nap-product-upsell {
        width: 100%;
        max-width: 1080px;
      }
    }
  </style>
  
  <template>
    <iron-ajax
      auto
      url="{{_ymalUrl(pid)}}"
      handle-as="json"
      last-response="{{ymalData}}"
      last-error="{{error}}"></iron-ajax>
    <template is="dom-if" if="{{_pidsExist(ymalData)}}">
      <h2 class="heading">{{heading}}</h2>
      <nap-product-upsell class="row center-xs" pids="{{ymalData.ymalPids}}" limit="6"></nap-product-upsell>
    </template>
  </template>

  <script>
    Polymer({
      is: 'nap-ymal-module',
      properties:{
        pid: String,
        heading: String
      },
      _ymalUrl: function(pid) {
        return '/api/styling/products/' + pid + '/1/ymal.json'
      },
      _pidsExist: function(data) {
        return data && (data.ymalPids.length > 0);
      }
    });
  </script>

</dom-module>
